# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for user uploads not tracked in git
public/img/profile/*
!public/img/profile/.gitkeep

# Optional npm cache & history
.npm/
.node_repl_history

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.sublime-*
